@font-face {
  font-family: "Benzin-bold";
  src: local("benzin-bold"), url("../fonts/benzin-bold.otf") format("otf");
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "Gilroy";
  src: local("Gilroy-ExtraBold"),
    url("../fonts/Gilroy-ExtraBold.otf") format("otf");
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
  margin-bottom: 80px;
}

button {
  border: none;
}

:root {
  --color-black: #131313;
  --color-black-alternetive: #1e1e1e;
  --color-white: #ffffff;
  --color-white-alternetive: rgba(255, 255, 255, 0.3);
  --color-blue: #3805f2;
  --color-blue-alternetive: #324eea;
  --font-family-general: "Benzin-bold", sans-serif;
  --font-family-direction: "Gilroy", sans-serif;
  font-size: 62.5%;
  --container-width: 1340px;
  --container-padding-x: 15px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 140%;
}

a {
  font-family: var(--font-family-general);
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  opacity: 0.7;
}

button:hover {
  opacity: 0.7;
}

h2 {
  font-family: var(--font-family-general);
  font-size: 2rem;
  line-height: 110%;
  text-align: center;
}

h3 {
  font-family: var(--font-family-general);
}

p {
  font-family: var(--font-family-direction);
  margin-bottom: 20px;
}

button {
  font-family: var(--font-family-general);
}

.header__inner {
  display: flex;
  margin-bottom: 30px;
}

.header__link {
  display: flex;
  column-gap: 6px;
}

.header__socials {
  display: flex;
  column-gap: 14px;
  margin-inline: 40px 10px;
}

.header__button {
  background-color: var(--color-blue-alternetive);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
}

.header__button::after {
  content: "";
  position: absolute;
  width: 14px;
  top: 50%;
  left: 30%;
  height: 1px;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 -3px, 0 3px;
  color: var(--color-white);
}

.banner__container-stars {
  background-color: var(--color-white);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.banner__title--black {
  color: var(--color-black-alternetive);
  text-align: start;
}

.banner__discription--black {
  color: var(--color-black-alternetive);
}

.banner__list {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
}

.banner__link {
  color: var(--color-white);
  background-color: var(--color-blue);
  padding: 10px 20px;
  border-radius: 20px;
  line-height: 90%;
}

.banner__container-sell {
  background-color: var(--color-blue);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.banner__title {
  text-align: start;
}

.banner__container-couples {
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.banner__numbers {
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 110%;
  color: var(--color-white);
}

.banner__item p {
  font-family: var(--font-family-direction);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: var(--color-white);
}

.banner__link-arrow--blue {
  display: block;
  background-color: var(--color-blue);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.banner__link-arrow--blue svg {
  position: absolute;
  top: 30%;
  left: 30%;
}

.banner__link-arrow--white {
  display: block;
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.banner__link-arrow--white svg {
  position: absolute;
  top: 30%;
  left: 30%;
}

.events__button {
  padding: 13.5px 15px;
  background-color: var(--color-blue);
  border-radius: 100px;
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--white);
}

.events__container {
  position: relative;
}

.events__image {
  border-radius: 50px;
}

.events__icon {
  display: flex;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.events__header-list {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.events__button--transparent {
  border: 1px solid var(--color-white-alternetive);
  background-color: transparent;
  border-radius: 20px;
  color: var(--color-white);
  padding: 10px 14px;
  font-family: var(--font-family-direction);
}

.events__button--active {
  background-color: var(--color-blue-alternetive);
  font-family: var(--font-family-direction);
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: var(--white);
  padding: 10px 14px;
}

.events__text {
  text-transform: uppercase;
}

.events__link {
  border-radius: 100px;
  background-color: var(--color-blue);
  padding: 13.5px 15px;
  line-height: 120%;
}

.events__button-data--transparent {
  font-family: var(--font-family-direction);
  background-color: transparent;
  padding: 10px 15px 10px 14px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-white-alternetive);
  margin-right: 10px;
}

.events__button {
  padding: 13.5px 15px;
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--white);
}

.events__button-showmore {
  padding: 16px 87.5px;
  border-radius: 31px;
  background-color: var(--color-white);
  line-height: 120%;
  width: 100%;
}

.events__title {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  position: relative;
}

.events__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 76px;
  width: 20px;
  aspect-ratio: 1;
  background: url(../icons/star.svg);
}

.events__title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 76px;
  width: 20px;
  aspect-ratio: 1;
  background: url(../icons/star.svg);
}

.events__title-body {
  font-size: 1.6rem;
  line-height: 120%;
  margin-bottom: 20px;
}

.events__body-list {
  margin-bottom: 30px;
}

.events__list-price {
  display: flex;
  column-gap: 40px;
}

.price__text {
  font-family: var(--font-family-direction);
  font-size: 1.4rem;
  line-height: 120%;
}

.price__image {
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-white);
}

.discount__title {
  margin-bottom: 30px;
}

.discount__image {
  border-radius: 31px;
  margin-bottom: 80px;
}

.discount__subtitle {
  font-size: 1.2rem;
  line-height: 110%;
  margin-bottom: 10px;
}

.discount__discription {
  font-size: 1rem;
  line-height: 140%;
}

.discount__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
}

.discount__button {
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
}

.discount__button-blue {
  background-color: var(--color-black-alternetive);
  border-radius: 50%;
}

.discounts__card {
  position: relative;
}

.discount__container {
  position: absolute;
  display: flex;
  background-color: var(--color-blue);
  bottom: -48px;
  left: 0;
  border-radius: 0 53px 31px 31px;
  padding: 10px 15px 20px 20px;
  align-items: end;
  justify-content: end;
}

.discount__container-body {
  width: 212px;
  margin-right: 12px;
}

.discount__buttons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.discount__button--white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.discount__button--blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-alternetive);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__list {
  display: flex;
  column-gap: 2px;
}

.reviews__avatar {
  border-radius: 50%;
}

.reviews__image {
  border-radius: 30px;
  margin-bottom: 30px;
}

.reviews__buttons {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.reviews__button--white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.reviews__button--blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-alternetive);
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
}

.questions__title {
  margin-bottom: 30px;
}

.questions__item {
  margin-bottom: 20px;
}

.questions__link {
  background-color: var(--color-blue);
  border-radius: 55px;
  line-height: 120%;
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--white);
  padding: 16px 87.5px;
}

details > summary {
  color: var(--color-blue);
  background-color: var(--color-white);
  cursor: pointer;
  list-style: none;
  line-height: 110%;
  border-radius: 30px;
  font-size: 1.2rem;
}

details[open] > summary {
  color: var(--color-black);
}

details p {
  color: var(--color-white);
}

.registration__button {
  line-height: 90%;
}

.registration__title {
  margin-bottom: 40px;
}

.registration__image {
  margin-bottom: 30px;
  border-radius: 30px;
}

.registration__form {
  margin-bottom: 10px;
}

.registration__input--transparent {
  border: 1px solid var(--color-white);
  background-color: transparent;
  border-radius: 40px;
  color: var(--color-white);
  font-size: 1.2rem;
  line-height: 140%;
  margin-bottom: 10px;
}

.registration__select {
  border: 1px solid var(--color-white);
  background-color: transparent;
  border-radius: 40px;
  color: var(--color-white);
  font-family: var(--font-family-direction);
  font-size: 1.2rem;
  line-height: 140%;
  margin-bottom: 10px;
}

.registration__button {
  background-color: var(--color-blue);
  border-radius: 55px;
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 90%;
  color: var(--white);
  padding: 10px 101px;
  margin-bottom: 10px;
}

.registration__policy {
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}

.footer__title {
  margin-bottom: 30px;
}

.footer__link {
  background-color: var(--color-blue);
  border-radius: 50%;
}

.footer__image-map {
  margin-bottom: 20px;
  border-radius: 30px;
}

.newsletter {
  background-color: var(--color-white);
  border-radius: 30px;
}

.newsletter__title {
  color: var(--color-blue);
  font-size: 1.6rem;
  line-height: 120%;
}

.newsletter__input {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-black-alternetive);
  font-size: 1.4rem;
  line-height: 120%;
}

.newsletter__button {
  background-color: var(--color-blue);
  border-radius: 100px;
  font-family: var(--font-family-general);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--white);
  padding: 10px 70.5px;
}

.newsletter__title {
  line-height: 120%;
  color: var(--color-blue);
}

.newsletter__button {
  line-height: 120%;
}

.footer__link-poliсу {
  font-weight: 500;
  font-family: var(--font-family-direction);
}
