.discount {
  --discountRotate: 0deg;
  margin-bottom: 80px;

  @include tablet-above {
    margin-inline: 80px;
    margin-bottom: 125px;
  }

  @include desktop-above {
    margin-bottom: 150px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -25px;
      width: 20px;
      aspect-ratio: 1;
      background: url(../icons/star.svg);
    }
    @include mobile-above {
      font-size: 26px;
      line-height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: -50px;
        width: 40px;
        aspect-ratio: 1;
        background: url(../icons/star-medium.svg);
      }
    }

    @include desktop-above {
      font-size: 56px;
      line-height: 95%;
      &::before {
        content: "";
        position: absolute;
        top: -7px;
        left: -100px;
        width: 70px;
        aspect-ratio: 1;
        background: url(../icons/big-star.svg);
      }
    }
  }
  &__image {
    border-radius: 31px;
    margin-bottom: 80px;
    width: 100%;
    height: auto;
    @include mobile {
      width: 290px;
    }

    @include tablet-above {
      width: 420px;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 110%;
    margin-bottom: 10px;

    @include mobile-above {
      font-size: 16px;
      line-height: 120%;
    }
    @include tablet-above {
      font-size: 20px;
      line-height: 140%;
    }
  }

  &__discription {
    font-size: 1rem;
    line-height: 140%;
    @include mobile-above {
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 140%;
    }
    @include tablet-above {
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50%;
    width: 30px;
    aspect-ratio: 1;
    rotate: var(--discountRotate);
    & svg {
      &:hover {
        --discountRotate: 45deg;
        rotate: var(--discountRotate);
        transition: 0.3s;
      }
    }

    @include mobile-above {
      width: 40px;
      aspect-ratio: 1;
    }
  }

  &__button {
    background-color: var(--color-white);
    border-radius: 50%;
    border: none;
  }

  &__button-blue {
    background-color: var(--color-black-alternetive);
    border-radius: 50%;
  }

  &__container {
    position: absolute;
    display: flex;
    background-color: var(--color-blue);
    bottom: -25px;
    left: 0;
    border-radius: 0 53px 31px 31px;
    padding: 10px 15px 20px 20px;
    align-items: end;
    justify-content: end;
    width: 100%;
    @include mobile-above {
      bottom: -120px;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
    }
  }

  &__container-body {
    width: 100%;
    margin-right: 12px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  &__button--white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
  }

  &__button--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-alternetive);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
  }

  &__list {
    position: relative;
    @include mobile-above {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
      &::before {
        content: "";
        position: absolute;
        right: -25px;
        top: -30px;
        width: 50px;
        aspect-ratio: 1;
        background: url(../icons/discounts_stars.svg) no-repeat;
        z-index: 100;
      }
    }

    @include desktop-above {
      &::before {
        content: "";
        position: absolute;
        right: -70px;
        top: -75px;
        width: 120px;
        aspect-ratio: 1;
        background: url(../icons/discounts_stars-desk.svg) no-repeat;
        z-index: 100;
      }
    }

    @include tablet-above {
      column-gap: 30px;
    }
  }
}

.discounts {
  &__card {
    position: relative;
    width: 100%;
  }
}
