.footer {
  @include mobile-above {
    padding-bottom: 52px;
  }
  @include tablet-above {
    margin-inline: 80px;
  }
  @include desktop-above {
    padding-bottom: 90px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__container {
    @include mobile-above {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 50px;
      margin-bottom: 30px;
    }
  }
  &__title {
    margin-bottom: 30px;
    @include mobile-above {
      font-size: 26px;
      line-height: 100%;
      margin-bottom: 40px;
    }
    @include desktop-above {
      font-size: 56px;
      line-height: 95%;
      margin-bottom: 60px;
    }
  }

  &__image {
    &-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include mobile-above {
        flex-direction: row;
      }
    }
    &-map {
      margin-bottom: 20px;
      min-width: 290px;

      @include mobile-above {
        width: 740px;
      }
      @include desktop-above {
        width: 100%;
      }
    }

    &-locator {
      margin-bottom: 5px;
      @include mobile-above {
        margin-right: 12px;
        margin-bottom: 0;
      }
    }
  }

  &__info {
    max-width: 200px;
    text-align: center;
    margin-bottom: 20px;
    @include mobile-above {
      font-weight: 500;
      font-size: 14px;
      line-height: 140%;
      max-width: 100%;
      margin-bottom: 0;
    }
    @include desktop-above {
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
    }
  }

  &__link {
    display: flex;
    background-color: var(--color-blue);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;

    &:hover {
      border: 1px solid var(--color-white);
      box-shadow: 0 2px 8px;
    }

    &-policy {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-family-direction);
      font-weight: 500;
      font-size: 12px;
      line-height: 140%;
      color: var(--white);
      padding-bottom: 50px;

      @include desktop-above {
        width: 180px;
        padding-bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 20px;
    @include mobile-above {
      margin-bottom: 0;
    }
  }

  &__newsletter-policy {
    @include mobile {
      width: 100%;
    }

    @include desktop-above {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      column-gap: 190px;
    }
  }

  &__logo {
    &:hover {
      scale: 1.5;
      rotate: 30deg;
      transition: 0.3s;
      transform: skew(10deg, 10deg);
    }
  }
}
