.form {
  margin-bottom: 80px;
  &__inner {
    display: flex;
    justify-content: center;
  }

  &__forma {
    display: flex;
    flex-direction: column;

    row-gap: 10px;
    margin-bottom: 10px;
    max-width: 780px;

    @include mobile-above {
      column-gap: 10px;
      min-width: 680px;
    }
  }

  &__input {
    background-color: var(--color-blue-alternetive);
    border: solid 1px var(--color-white);
    color: var(--color-white);
    font-family: var(--font-family-direction);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    width: 100%;
    border-radius: 40px;
    padding: 20px 30px;

    &::placeholder {
      color: var(--color-white);
    }
  }

  &__select {
    background-color: var(--color-blue-alternetive);
    border: solid 1px var(--color-white);
    color: var(--color-white);
    width: 100%;
    font-family: var(--font-family-direction);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    border-radius: 40px;
    padding: 20px 30px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__button {
    min-width: 200px;
    border-radius: 40px;
    padding: 20px 30px;
  }

  &__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    & span {
      color: red;
    }
  }

  &__personal {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}
