.reviews {
  margin-bottom: 80px;

  @include tablet-above {
    margin-inline: 80px;
    margin-bottom: 125px;
  }

  @include desktop-above {
    margin-bottom: 150px;
  }

  &__inner {
    position: relative;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 20px;

    &-title {
      display: flex;
      flex-direction: column;
    }
  }

  &__subtitle {
    color: var(--color-blue-alternetive);
    font-family: var(--font-family-general);
    font-size: 16px;
    line-height: 120%;
  }

  &__title {
    margin-bottom: 30px;
    @include mobile-above {
      margin-inline: auto;
      font-size: 26px;
      line-height: 100%;
    }

    @include desktop-above {
      font-size: 56px;
      line-height: 95%;
    }
  }

  &__list-buttons {
    display: flex;
    column-gap: 2px;
  }

  &__avatar {
    border-radius: 50%;
  }

  &__avatar-bg {
    border-radius: 50%;
    @include mobile-above {
      width: 40px;
      aspect-ratio: 1;
    }

    @include desktop-above {
      width: 84px;
      aspect-ratio: 1;
    }
  }

  &__image {
    margin-bottom: 30px;
    border-radius: 30px;
    height: 100%;

    &--radius {
      border-radius: 30px;
    }
    @include mobile-above {
      max-width: 290px;
      margin-inline: 0;
    }

    @include mobile {
      margin-inline: auto;
      width: 290px;
    }

    @include tablet-above {
      width: 240px;
    }

    @include desktop-big-above {
      width: 312px;
    }
  }

  &__title-buttons {
    @include mobile-above {
      display: flex;
      justify-content: space-between;
      @include desktop-above {
        align-items: center;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  &__button--white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
  }

  &__button--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-alternetive);
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
  }

  &__container {
    position: relative;

    &--1 {
      &::before {
        position: absolute;
        content: "#stellarium";
        padding: 5px 10px;
        border-radius: 20px;
        right: 35px;
        color: var(--color-blue);
        bottom: 75px;
        font-size: 1.6rem;
        background-color: var(--color-white);
        font-family: var(--font-family-general);
        rotate: -15deg;
      }

      &::after {
        position: absolute;
        content: "#планетарий";
        padding: 5px 10px;
        border-radius: 20px;
        right: 18px;
        color: var(--color-white);
        bottom: 50px;
        font-size: 1.4rem;
        background-color: var(--color-blue);
        font-family: var(--font-family-general);
        rotate: -5deg;
      }
    }
    @include mobile-above {
      &--2 {
        &::before {
          position: absolute;
          content: "#stellarium";
          padding: 2px 10px;
          border-radius: 20px;
          right: 70px;
          color: var(--color-blue);
          bottom: 65px;
          font-size: 1.2rem;
          background-color: var(--color-white);
          font-family: var(--font-family-general);
          rotate: -15deg;
        }
        &::after {
          position: absolute;
          content: "Всем советую посетить!";
          padding: 1px 10px;
          border-radius: 20px;
          left: 70px;
          color: var(--color-white);
          bottom: 30px;
          font-size: 1.4rem;
          // s
          font-family: var(--font-family-general);
          rotate: -10deg;
        }
      }
    }

    @include desktop-big-above {
      &--1 {
        &::before {
          position: absolute;
          content: "#stellarium";
          padding: 5px 10px;
          border-radius: 20px;
          right: 35px;
          color: var(--color-blue);
          bottom: 75px;
          font-size: 1.6rem;
          background-color: var(--color-white);
          font-family: var(--font-family-general);
          rotate: -15deg;
        }

        &::after {
          position: absolute;
          content: "#планетарий";
          padding: 5px 10px;
          border-radius: 20px;
          right: 18px;
          color: var(--color-white);
          bottom: 50px;
          font-size: 1.4rem;
          background-color: var(--color-blue);
          font-family: var(--font-family-general);
          rotate: -5deg;
        }
      }

      &--2 {
        &::before {
          position: absolute;
          content: "#stellarium";
          padding: 2px 10px;
          border-radius: 20px;
          right: 70px;
          color: var(--color-blue);
          bottom: 65px;
          font-size: 1.2rem;
          background-color: var(--color-white);
          font-family: var(--font-family-general);
          rotate: -15deg;
        }

        &::after {
          position: absolute;
          content: "Всем советую посетить!";
          padding: 5px 10px;
          border-radius: 20px;
          left: 110px;
          color: var(--color-white);
          bottom: 30px;
          font-size: 1.6rem;
          // s
          font-family: var(--font-family-general);
          rotate: -10deg;
        }
      }
    }

    &--bgc {
      background-color: var(--color-white);
      min-width: 290px;
      color: var(--color-black);
      border-radius: 30px;
      padding: 30px;
      height: 100%;

      @include tablet-above {
        min-width: 240px;
      }

      @include desktop-big-above {
        min-width: 290px;
      }
    }
  }

  &__text {
    font-family: var(--font-family-direction);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    max-width: 200px;
    margin-inline: auto;
    margin-bottom: 10px;
  }

  &__button-pagination {
    width: 20px;
    height: 3px;
    background-color: var(--color-white-alternetive);
  }

  &__list-buttons {
    padding-left: 0;
  }

  &__container-btn {
    position: absolute;
    top: 9px;
    left: 18px;
    @include tablet-above {
      left: 5px;
    }

    @include desktop-above {
      top: 9px;
    }
  }

  &__list {
    @include mobile-above {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }

    @include tablet-above {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 10px;
    }

    @include desktop-big-above {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 10px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    // s

    &-button {
      padding-block: 7px;
      padding-inline: 2px;
    }
  }
}
